@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

4. Blog


******************************/

/*********************************
4. Blog
*********************************/

.page
{
	padding-top: 85px;
	padding-bottom: 82px;
}
.single_post_title
{
	font-size: 30px;
	font-weight: 500;
}
.single_post_text p
{
	color: rgba(0,0,0,0.8);
}
.single_post_text ul
{
	list-style-type: disc;
	margin-left: 45px;
}
.single_post_quote
{
	margin-top: 30px;
	margin-bottom: 30px;
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 35px;
	padding-bottom: 40px;
}